.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-top: 2em;
}

.header {
  font-size: 30px;
  margin-bottom: -0.5em;
  text-align: center;
}

.joke-settings-background {
  background: rgba(255, 255, 255, 0.5);
}

.joke-settings-block {
  padding-top: 2em;
  padding-bottom: 2em;
  display: table;
  margin: 0 auto;
}

.number-selector {
  width: 250px;
}

.number-selector-block {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.checkbox-list {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.checkbox-item {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  width: 250px;
}

.custom-control-label {
  background: rgb(241, 240, 240);
  border: 1px solid #6c757d;
  border-radius: 3.5px;
  padding-left: 5px;
  width: 225px;
  cursor: pointer;
}

.refresh-button {
  display: block;
  margin: 0 auto;
}

.joke {
  background: white;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.joke-settings,
.joke {
  border-radius: 5px;
}

.joke:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 1%;
}

.joke-category {
  font-weight: bold;
  font-size: 14px;
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #444;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.header,
#previews {
  padding-bottom: 20px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
